# Core
pytz==2019.3
Django==3.0.2
django-configurations==2.2
django-environ==0.4.5
gunicorn==20.0.4
django-model-utils==4.0.0
psycopg2-binary==2.8.4
djangorestframework==3.11.0
django-filter==2.2.0
PyGithub==1.46
authlib==0.14.1
djangorestframework-simplejwt==4.4.0
drf-yasg==1.17.1
django-cors-headers==3.2.1
whitenoise==5.0.1
sentry-sdk==0.14.2

# Developer Tools
ipdb==0.12.3
ipython==7.11.1
flake8==3.7.9
black==19.10b0

# Testing
mock==3.0.5
factory-boy==2.12.0
Faker==4.0.1
django-nose==1.4.6
nose-progressive==1.5.2
coverage==5.0.3
